.title-face-avant {
  text-align: center;
}

.affich-picture,
.affich-card {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: stretch;
}

.affich-picture > figure {
  margin: 0;
  padding: 0;
}

.affich-picture > figure > img {
  width: 100px;
  height: 75px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.affich-picture > figure > img:hover {
  cursor: pointer;
}
