footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    gap: 100px;

    height: 100px;
    background-color: var --(dark-color);
    z-index: 2;
}

.footer-btn {
    width: 311px;
    height: 70px;
    border-radius: 20px;
    color: var(--light-color);
    font-size: 36px;
    border: 2px solid var(--light-color);
    transition: 0.25s;
}

.footer-btn:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-weight: 800px;
    font-style: bold;
}

.active {
    pointer-events: none;
    color: rgb(170, 169, 169);
}

