.homepage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: var(--dark-color);
    overflow: hidden;
}

.logo {
    width: 600px;
}

.el-bottom-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 0 16px;
}

.menu {
    background-color: transparent;
}

.homepage-button {
    width: 311px;
    height: 70px;
    border-radius: 20px;
    color: var(--light-color);
    font-size: 36px;
    border: 2px solid var(--light-color);
    cursor: pointer;
    transition: all 0.9s ease;
    background-color: var(--dark-color);
    pointer-events: auto;
    z-index: 100;
    position: relative;
}

.homepage-button:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-size: 40px;
    font-weight: 800px;
    font-style: bold;
    transform: scale(0.9)
}

.homepage-button:active {
    transform: scale(0.8);
}

.styles_wrapper {
    overflow: visible !important;
}


@media screen and (max-width: 480px) {

    .homepage-title {
        font-size: 25px;
        text-align: center;
    }

    .logo {
        width: 90%;
    }

    .homepage-button {
        font-size: 25px;
        width: 250px
    }
}

@media screen and (max-width: 768px) {
    .homepage {
        gap: 100px;
    }

    .homepage-title {
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .homepage {
        gap: 100px;
    }

    .homepage-title {
        text-align: center;
    }

    .el-bottom-homepage {
        gap: 100px;
    }
}