.card-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:40px;
    background-color: var(--dark-color);
    align-items: end;
}

.champs-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message-card {
    background-color: var(--light-color);
}

textarea {
    resize: none;
    height: 250px;
    width: 700px;
    max-width: 100%;
    font-size: 36px;
}

.champs-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    font-size: 20px;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    background-color: beige;
}

.button {
    width: 311px;
    height: 70px;
    border-radius: 20px;
    color: var(--dark-color);
    font-size: 36px;
    border: 2px solid var(--light-color);
    transition: 0.25s;
    background-color: var(--light-color);
    margin-inline: end;
}

.button:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-weight: 800px;
    font-style: bold;
}

.h2-face-arriere {
    padding: 20px;
    text-align: center;
}