h2 {
  padding: 20px;
  text-align: center;
}

.card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--dark-color);
  margin: 0;
  padding: 100px;
  align-items: center;
}

.champs-msg {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 60%;
  gap: 10px;
}

textarea {
  resize: none;
  min-width: 80%;
  min-height: 400px;
  max-width: 200px;
  max-height: 100px;
}

.champs-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 60%;
  width: 60%;
  padding: 100px;
}

button {
  border-radius: 10px;
  height: 20%;
  width: 20%;
  color: var(--light-color);
}
